extend layout
block content
  form#Dj0ntify()
    .inputContainer
      label#text Text
      textarea(autofocus, type='text', rows="10", cols="60", name='text', placeholder='T0xt t0 Dj0nt.')
      button Dj0ntify this text!

  p#Dj0nted
