extend layout
block content
  form#Dj0ntify(action='/', method='post')
    .inputContainer
      label#text Text
      textarea(autofocus, type='text', rows="10", cols="60", name='text', placeholder='T0xt t0 Dj0nt.')
      button#button Dj0ntify this text!
  .Dj0nt
    p#Dj0nted