!!!5
html
  head
    title Dj0ntify
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script
      $(document).ready(function() {

        $("#Dj0ntify").submit(function() {

          $("#Dj0nted").html('');

          var text = $("textarea[name=text]").val();
          var djentText = "";
          var otherStrings = "";
          var beat = 0;

          var reVowels = /^[aeiouy]$/i;
          var reConsonants = /^[qwrtpsdfghjklzxcvbnm]$/i;

          for (var i = 0; i < text.length; i++) {
            
            if (beat == 4) {
              djentText += ' | ';
              otherStrings += ' | ';
              beat = 0;
            };

            if (text[i] == ' ') {
              continue;
            } else if (reVowels.test(text[i])) {
              djentText += '0';
              otherStrings += '-';
              beat++;
            } else if (reConsonants.test(text[i])) {
              djentText += '-';
              otherStrings += '-';
              beat++;
            };
          };

          for (var i = 0; i < 6; i++) {
            $("#Dj0nted").append(otherStrings + '<br/>');
          };

          $("#Dj0nted").append(djentText);
          return false;
        });
      });
  body
    header
      h1 Dj0ntify
    .container
      .main-content
        block content