!!!5
html
  head
    title Dj0ntify
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src='/javascripts/Dj0ntify.js')
  body
    header
      h1 Dj0ntify
    .container
      .main-content
        block content